<script type='text/javascript'>
$(function() {
Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>JSDEV dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="jokes" data-view="Text" data-text="test" data-moreinfo="" style="background-color: #34495e"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="waitingsupport" data-view="Jira" data-title="Waiting Support" data-text="Text" style="background-color: #e67e22"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="indev" data-view="Jira" data-title="In Development" data-text="Text" style="background-color: #27ae60"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="devdone" data-view="Jira" data-title="Dev Done" data-text="Text" style="background-color: #9b59b6"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="inqa" data-view="Jira" data-title="In QA" data-text="Text" style="background-color: #3498db"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="3" data-sizey="2">
      <div data-id="cats" data-view="BigImage" data-image="http://i.imgur.com/JycUgrg.jpg"
        style="background-color:#001325;"
        data-max="true"
      ></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>